<% content_for :title, "Hivelife | Data Portal" %>
<div class="medium-12 columns">
  <div class="row">
    <div class="medium-12 columns">
      <div class="row">
        <div class="medium-12 columns">
          <h1>Data Portal</h1>
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns">
          <p>Anonymous data including hives, inspections, and harvests can be downloaded below.<p>
          <h3>CSV Files</h3>
          <p>Complete dumps of all public hive, inspection, and harvest data
            can be downloaded at the following links.</p>
          <ul>
            <li><a href="https://s3-us-west-2.amazonaws.com/hivelife/dumps/hives.csv">Hives</a></li>
            <li><a href="https://s3-us-west-2.amazonaws.com/hivelife/dumps/harvests.csv">Harvests</a></li>
            <li><a href="https://s3-us-west-2.amazonaws.com/hivelife/dumps/inspections.csv">Inspections</a></li>
            <ul>
              <li><a href="https://s3-us-west-2.amazonaws.com/hivelife/dumps/brood_boxes.csv">Brood Boxes</a></li>
              <li><a href="https://s3-us-west-2.amazonaws.com/hivelife/dumps/honey_supers.csv">Honey Supers</a></li>
              <li><a href="https://s3-us-west-2.amazonaws.com/hivelife/dumps/diseases.csv">Diseases</a></li>
            </ul>
          </ul>
          <h3>Web Services</h3>
          <p>This data can also be retrieved using REST APIs to download the data as either XML or JSON</p>
          <p>Hive data can be downloaded at the https://hivelife.co/api/data/hives?format={xml|json} endpoint.</p>
          <p>Inspection data can be downloaded at the https://hivelife.co/api/data/inspections?format={xml|json} endpoint.
             The inspection URL can contain the following parameters to narrow the data returnedby the service:</p>
          <ul>
            <li>hive_id: numeric ID of a hive</li>
            <li>entrance_reducer: true or false</li>
            <li>queen_excluder: true or false</li>
            <li>ventilated: true or false</li>
            <li>hive_orientation: N, S, E, W, NE, NW, SE, SW</li>
            <li>health: 0 or 1</li>
          </ul>
          <p>Harvest data can be downloaded at the https://hivelife.co/api/data/harvests?format={xml|json} endpoint.</p>
          <p>All calls to the web service must provide the format parameter somehwere in the query string.</p>
        </div>
      </div>
    </div>
  </div>
</div>
