<div class="medium-12 columns">
  <div class="row">
    <div class="medium-12 columns">
      <div class="row">
        <div class="medium-12 columns">
          <h1>Welcome to Hivelife!</h1>
        </div>
      </div>
      <div class="row">
        <div class="medium-8 columns">
          <p>
            Hivelife is a record keeping tool for beekeepers.
            The goal of Hivelife is to give beekeepers better tools to manage their
            hives, while giving them the opportunity to make their inspection data
            available to the public. Making this data public may help us learn more
            about bees, and possibly gain more insight into
            <a href="http://en.wikipedia.org/wiki/Colony_collapse_disorder">Colony Collapse Disorder</a>.
          </p>
          <p>
            Hivelife is still under development, but is stable enough to be
            used to start keeping records.
            To begin using Hivelife, just <a href="users/sign_up">sign up</a>, and begin record keeping!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
