<div class="row" id="header">
  <div class="medium-12 columns text-center">
    <h1 class="title-text white-text">Hivelife</h1>
  </div>
</div>
<div id="container">
  <div class="row">
    <div id="content">
      <div class="row text-center">
        <div class="medium-12 columns" style="padding: 0 50px 0 50px; margin: 50px 0 10px 0;">
          <h2 class="title-text">Introducing the best record keeping tool for beekeepers</h2>
        </div>
      </div>

      <div class="row text-center">
        <div class="medium-12 columns text-center" style="margin: 10px 0 15px 0; padding: 0 90px 0 90px;">
          <hr />
        </div>
      </div>

      <div class="row text-center">
        <div class="medium-12 columns" style="padding: 0 50px; 0 50px; margin-bottom: 50px;">
          <h4 class="sub-text">
            Hivelife is a free web application that makes it easy for beekeepers to keep track of their bees and hives.
            Launching on the web in Spring 2015, with mobile applications to follow.
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns">
          <div class="row info-row">
            <!-- Database -->
            <div class="medium-6 columns text-center info">
              <div class="row">
                <div class="medium-12">
                  <span class="fa-stack fa-lg icon">
                    <i class="fa fa-circle fa-stack-2x" style="color: #7FCDB8;"></i>
                    <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns">
                  <h3 class="sub-text">Open Data</h3>
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns">
                  <h5 class="sub-text">Share your data so other's can do research based on your observations</h5>
                </div>
              </div>
            </div>

            <!-- Records -->
            <div class="medium-6 columns text-center info">
              <div class="row">
                <div class="medium-12">
                  <span class="fa-stack fa-lg icon">
                    <i class="fa fa-circle fa-stack-2x" style="color: #E89980;"></i>
                    <i class="fa fa-check-square fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns">
                  <h3 class="sub-text">Easy Record Keeping</h3>
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns">
                  <h5 class="sub-text">Simple forms that act as reminders and guides for every inspection</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row info-row">
            <!-- Users -->
            <div class="medium-6 columns text-center info">
              <div class="row">
                <div class="medium-12">
                  <span class="fa-stack fa-lg icon">
                    <i class="fa fa-circle fa-stack-2x" style="color: #90B0BA;"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns">
                  <h3 class="sub-text">Teamwork</h3>
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns">
                  <h5 class="sub-text">Add friends, family and coworkers to your apiary so you can work together</h5>
                </div>
              </div>
            </div>

            <!-- Github -->
            <div class="medium-6 columns text-center info" style="color: #E5CB95;">
              <div class="row">
                <div class="medium-12">
                  <span class="fa-stack fa-lg icon">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github-square fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns">
                  <h3 class="title-text">Open Source</h3>
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns">
                  <h5 class="sub-text">Hivelife is open source, allowing you to follow or contribute to it's development</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="email">
    <div class="row">
      <div class="medium-12 columns text-center">
        <h2 class="title-text white-text" style="margin-top: 30px;">Sign up to get updates</h2>
      </div>
    </div>

    <div class="row">
      <div class="medium-12 columns text-center">
        <h5 class="sub-text white-text">You'll receive occasional development updates, release information, and early access!</h5>
      </div>
    </div>

    <div class="row collapse" style="margin-top: 25px;">
      <div class="medium-7 small-8 medium-offset-2 small-offset-1 columns">
        <input type="text" id="input" placeholder="email address" style="height: 54px;">
      </div>
      <div class="medium-1 small-1 columns">
        <a href="#" class="button" style="color: #FAAD37;" id="signup-button">Go</a>
      </div>
      <div class="medium-2 columns"></div>
    </div>
    <div class="row">
      <div class="medium-12 columns text-center" style="margin-bottom: 30px;">
        <h6 id="result-message" class="sub-text white-text"></h6>
      </div>
    </div>

  </div>
  <div id="footer">
    <div class="row">
      <div class="medium-12 columns text-center">
        <a href="https://github.com/brianzable/Hivelife" class="icon-link"><i class="fa fa-github fa-3x" data-id="gh-link"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns text-center">
        <p class="sub-text">© Hivelife 2014</p>
      </div>
    </div>
  </div>
</div>
