<div class="row">
	<div class="medium-2 show-for-medium-up columns">
		<img class="hive-location-img" src="<%= hive.get_map_icon_url %>" />
	</div>

	<div class="medium-8 small-10 columns">
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="hive-title"><%= hive.name %></h3>
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<h5 class="hive-location"><%= hive.get_location_string %></h5>
			</div>
		</div>
	</div>

	<div class="medium-1 small-2 columns">
		<div class="row text-center">
			<div class="medium-12 columns">
				<%= link_to raw("<i class=\"fa fa-angle-right\"></i>"), apiary_hive_path(@apiary, hive), class: 'hive-button' %>
			</div>

		</div>
		<% last = Inspection.order('inspected_at').where(hive_id: hive.id).last %>
		<% unless last.nil? %>
			<div class="row text-center">
				<div class="medium-12 columns">
					<% if last.health == '1' || last.health.blank? %>
						<i class="fa fa-smile-o hive-health"></i>
					<% else %>
						<i class="fa fa-frown-o hive-health"></i>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>
