<% content_for :title, "Hivelife | Edit #{@apiary.name}" %>
<div class="medium-12 columns">
	<div class="row">
		<div class="medium-12 columns">
			<h1>Edit Apiary</h1>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<%= render 'form' %>
		</div>
	</div>
</div>
