<% content_for :title, "Hivelife | Edit Apiary" %>
<h1>Edit Apiary</h1>
<div class="medium-12 columns">
	<div class="row">
		<div class="medium-5 columns">
			<%= render 'form' %>
		</div>
			<% if @is_admin %>
				<div class="medium-7 columns">
					<%= render 'beekeeper_form' %>
				</div>
			<% end %>
		</div>
	</div>
</div>
