<% content_for :title, 'Hivelife | Create Apiary' %>
<h1>Create Apiary</h1>
<div class="medium-12 columns">
	<div class="row">
		<div class="medium-6 columns">
			<%= render 'form' %>
		</div>
	</div>
</div>
