#mainToolbar {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),
  0 2px 9px 1px rgba(0,0,0,.12),
  0 4px 2px -2px rgba(0,0,0,.2);
}

.paper-menu > .iron-selected {
  color: var(--default-primary-color);
}

#mainToolbar .bottom {
  padding-bottom: 100px;
  padding-left: 30px;
}


#drawerToolbar {
  border-bottom: var(--drawer-toolbar-border-color);
  height: 120px;
}

/* Small breakpoint */
@media (max-width: 600px) {

  paper-toolbar.has-shadow {
    height: 56px;
  }

  .paper-font-display2 {
    font-size: 30px;
  }

  .paper-font-display1 {
    font-size: 12px;
  }

  paper-material {
    --menu-container-display: none;
    width: calc(97.33% - 16px);
    padding-left: 16px;
  }

  #overlay {
    min-width: 360px;
  }

  .bg {
    background: white;
  }

  #mainToolbar .bottom {
    padding-left: 50px;
    padding-bottom: 24px;
    padding-bottom: 0px;
  }

  #mainToolbar.has-shadow .bottom {
    padding-bottom: 0px;
  }

  .appname {
    font-size: 24px;
    padding-bottom: 0px;
  }
}

@media (min-width: 601px) {

  paper-material {
    width: calc(98% - 16px);
    padding-left: 30px;
  }

}
