<div class="row beekeeper" data-path="<%= beekeeper_path(beekeeper) %>">
	<div class="medium-7 columns">
		<h6><%= "#{beekeeper.user.first_name} #{beekeeper.user.last_name}" %></h6>
	</div>
	<div class="medium-3 columns">
		<%=	select_tag "permission[]",
							 		 options_for_select(Beekeeper::PERMISSIONS, beekeeper.permission),
							 		 {:class => "permission", :'data-original' => beekeeper.permission} %>
	</div>
	<div class="medium-2 columns">
		<%= link_to 'Remove Beekeeper', '#', class: 'delete-beekeeper' %>
	</div>
</div>
