<% if object.errors.any? %>
	<div class="row">
		<div class="medium-12 columns" id="errors">
			<ul>
				<% object.errors.messages.values.each do |msg| %>
					<% msg.each do |m| %>
						<li class="error"><%= m %></li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>
