<div id="upload-modal" class="reveal-modal" data-reveal>
  <% url = (object.photo_url.blank?) ? 'defaults/beehive_placeholder.png' : object.photo_url %>
  <img src="<%= "http://hivelife.s3.amazonaws.com/#{url}" %>" id="preview-image" />
  <%= s3_uploader_form post: url, as: as do %>
    <%= file_field_tag :file, multiple: false, id: 'upload-field' %>
    <div class="progress" id="upload-progress" style="display: none">
      <span class="meter" style="width: 0%"></span>
    </div>
  <% end %>
</div>
