development:
  adapter: postgis
  encoding: utf8
  database: hivelife_development
  pool: 5
  host: localhost

test:
  adapter: postgis
  encoding: utf8
  database: hivelife_test
  pool: 5
  host: localhost

production:
  adapter: postgis
  encoding: utf8
  database: hivelife_production
  pool: 5
  host: localhost
