// Place all the styles related to the apiaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.apiary-button {
	background: none;
	top: 30%;
	position: relative;
	font-size: 300%;
}

.apiary-button:hover {
	background: none;
	text-color: #000;
}

#beekeepers-table {
	margin: 0 auto;
}

.hive-button {
	background: none;
	font-size: 250%;
}

.hive-button:hover {
	background: none;
	text-color: #000;
}

.hive-health {
	font-size: 250%;
}

.hive-title {
	margin-bottom: 0;
}

.hive-location {
	margin-top: 0;
}

.hive-location-img {
	margin-top: 6px;
}
