$background-color: #E5CB61;
$email-background: #FAAD37;

body {
  position: absolute;
  min-height:100%;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background: url("https://dl.dropboxusercontent.com/u/47340/background.JPG") no-repeat center center;
  background-color: $background-color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
  margin-top: 10em;
}

#container {
  position: abosulute;
  margin-top: 400px;
  width: 100%;
  background-color: $background-color;
}

#content {
  background: white;
  margin-top: -100px;
  max-width: 960px;
  border-radius: 6px;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
}

#email {
  margin-top: 60px;
  width: 100%;
  background: $email-background;
}

#footer {
  width: 100%;
  background: $background-color;
  padding: 20px;
}

.icon {
  font-size: 500%;
}

.white-text {
  color: white;
}

.title-text {
  font-family: 'Lato', sans-serif;
}

.sub-text {
  font-family: 'Open Sans', sans-serif;
}

#signup-button {
  font-size: 1.1rem;
}

.info {
  padding: 0px 50px 50px 50px; /* top right bottom left */
}
